 @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
 h1 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: lightgrey;
    text-align: center;
 }

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section {
    max-width: 40%;
    border: 1px solid #ccc;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h4 {
  margin-top: 10px;
}

 .camera {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.non-disponibile {
    opacity: 0.5;
}